<article>
    <p> <%= comment.content %> </p>
    <% if logged_in? %> 
        <% if !current_user.upvotecd?(comment)%>
            <span class="upvotec-comment">
            <%= link_to "Upvote (#{comment.upvotecs})", upvotec_comment_path(comment), method: :post %>
            <%else%>
                <%= link_to "Downvote (#{comment.upvotecs})", upvotec_comment_path(comment), method: :post %>
        </span>
        <% end %>
    <% end %>
    <small> by <%= comment.user.username %> </small>
    <% if logged_in? %>
    <a href="#" class= "comment-form-display"> reply</a>
    <div class="comment-form">       
    <%= render partial: 'comments/form', locals: {submission: comment.submission, parent: comment} %>       
    </div>
    <%end%>
    <hr />
    <div class="sub-comment">
        <%= render comment.comments.order(id: :desc) %>
    </div>
</article>


<script>
document.querySelectorAll('.comment-form-display').forEach((el) => {
    el.addEventListener('click', (ev) => {
        ev.preventDefault();
        el.nextElementSibling.style = 'display: block;'
    })
})
</script>