<ul>
  <li class="logo"><%= link_to 'HackerNews', news_path%></li>
  <li><%= link_to 'news', newest_path%></li>
  <li><a href="#threads">threads</a></li>
  <li><%= link_to 'ask', submission_asks_path%></li>
  <li><%= link_to 'submit', submit_path%></li>
  <% if logged_in? %>
    <li style="float:right"> <%= link_to "Sign out", signout_path, id: "sign_out" %></li>
  <li style="float:right"><%= link_to current_user.username, "/users/#{current_user.id}" %> </li> 
  <% else %>
  
  <li style="float:right"><%= button_to "Login", '/auth/google_oauth2'%> </li>
  <%end%>
  
</ul>
  
