<table>
  
  <tbody>
    <tr>
      <td>
        <% i = 1 %>
        <% @submissions.each do |submission| %>
          <% if submission.url == ""%>
          <table>
            <tbody>
              <tr>
                <td><%= i %>.</td>
                <td>
                <% if logged_in? %>
                  <span class="upvote-submission">
                    <%=link_to image_tag('/assets/arrowgray.png'), upvote_submission_path(submission), method: :post %>
                <% end %>
                </td>
                <td>
                  <font color="black" size="3">
                  <a style="text-decoration:none;" href=<%= submission.url %>><%= submission.title%>
                  </a>
                  </font> </font>
                </td>
              </tr>
          </table> 
          <table>
            <tr>
                <td>
                  <font color="grey" size="2">
                    <%= submission.upvotes %> points by 
                    <%= link_to submission.user.username, "/users/#{submission.user.id}", id: "my_profile" %>
                    <a style="text-decoration:none;"><%= time_ago_in_words(submission.created_at) %> ago </a> |
                    <a style="text-decoration:none;"> <%= submission.comments.size()%> <%= link_to 'comments', submission %></a> |
                    <% if current_user && current_user.id == submission.user.id %>
                      <a style="text-decoration:none;"> <%= link_to 'edit', edit_submission_path(submission) %></a> |
                      <a style="text-decoration:none;"> <%= link_to 'delete', submission, method: :delete %></a> 
                    <% end %>
                  </font>
                </td>
            </tr>
            <% i += 1 %>
            <% end %>
            <% end %>
          </tbody>
        </table>  
      </td>
    </tr>
  </tbody>
</table>

<br>

