<p id="notice"><%= notice %></p>
<table>
  
  <tbody>
    <tr>
      <td>
        <% i = 1 %>
        <% @submissions.each do |submission| %>
          <% if submission.url != ""%>
          <table>
            <tbody>
              <tr>
                <td><%= i %>.</td>
                <td>
                <%=link_to image_tag('/assets/arrowgray.png'), upVotes_submission_path(submission), method: :put %>
                </td>
                <td>
                  <font color="black" size="3">
                  <a style="text-decoration:none;" href=<%= submission.url %>><%= submission.title%>
                  </a>
                  </font> </font> <font color="grey" size="2">(<%= submission.url %>)</font>
                </td>
              </tr>
          </table> 
          <table>
            <tr>
                <td>
                  <font color="grey" size="2">
                    <%= submission.upVotes %> points by <a>
                    <%= link_to submission.user.username, "/users/#{submission.user.id}", id: "my_profile" %>
                    
                    <% time = (Time.now() - submission.created_at) %>
                    <% if time < 3600 %>
                        <a style="text-decoration:none;" ><%= (time/60).round %> minutes ago</a> | 
                    <% end %>
                    <% if time >= 3600 && time < 3600*24 %>
                        <a style="text-decoration:none;"><%= (time/3600).round %> hours ago</a> | 
                    <% end %>       
                    <% if time >= 3600*24 %>
                        <a style="text-decoration:none;"><%= (time/(3600*24)).round %> days ago</a> | 
                    <% end %>
                  </font>
                </td>
            </tr>
            <% i += 1 %>
            <% end %>
            <% end %>
          </tbody>
        </table>  
      </td>
    </tr>
  </tbody>
</table>

<br>

